@font-face {
    font-family: 'noris';
    src: url('font/Norse-Bold.otf');
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    width: 100%;
  }
  
  .leftbody {
    width: 30%;
    height: 100vh;
    background-image: url('images/img5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .rightbody {
   width: 70%;
   height: 100vh;
   background-color: rgb(62, 92, 69);
  }
  
  .leftlogo{
    margin-top: 40%;
    font-size: 100px;
    width: 100%;
    padding: 20px 0px;
    color: white;
    text-align: center;
    font-family: 'noris', san-serif;
    background-color: rgba(0, 0, 0, 0.6);
    
  }